@model ForgotPasswordViewModel
@{
    Layout = "_BaseLayout";
    ViewData["Title"] = "Forgot your password?";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-wrap">
                <div class="login-logo">
                    <img src="http://placehold.it/100x100/?text=LOGO" alt="" />
                </div>
                <h2 class="login-header">Password reminder</h2>
                <div class="panel panel-default panel-login">
                    <div class="panel-body">
                        <form asp-controller="Account" asp-action="ForgotPassword" method="post" role="form">
                            <p>Enter your email address and we will send you a link to reset your password.</p>
                            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" placeholder="Email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Send link</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <a asp-action="LogIn" class="">Back to Sign in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>