@model RegisterViewModel
@{
    Layout = "_BaseLayout";
    ViewData["Title"] = "Create an account";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-wrap">
                <div class="login-logo">
                    <img src="http://placehold.it/100x100/?text=LOGO" alt="" />
                </div>
                <h2 class="login-header">Create an account</h2>
                <div class="panel panel-default panel-login">
                    <div class="panel-body">
                        <form asp-controller="Account" asp-action="Register" method="post" role="form">
                            <div asp-validation-summary="ValidationSummary.ModelOnly"></div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        Already have an account? <a asp-action="LogIn" class="">Sign in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>