<div class="btn-group">
    <a class="btn btn-default btn-sm btn-company-edit" data-id="{{id}}" title="Edit"><i class="oi oi-pencil"></i> Edit</a>
    <a class="btn btn-default btn-sm btn-company-delete" data-id="{{id}}" title="Delete"><i class="oi oi-trash"></i></a>
</div>
