@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>MVC Boilerplate</h1>
</div>

<p>
    It gives you a kick-start by combining <a href="http://getbootstrap.com">Twitter for Bootstrap</a>, <a href="https://webpack.github.io/">Webpack</a>, <a href="http://automapper.org">AutoMapper</a> and <a href="http://datatables.net">DataTables</a> into one package.
</p>