@model WebSite.ViewModels.Admin.CompanyFormViewModel

<div asp-validation-summary="ValidationSummary.All"></div>

<input asp-for="Id" type="hidden" />

<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
</div>