@{
    ViewBag.Title = "CompanyList";
}

<div class="page-header page-header-with-actions">
    <h1 class="pull-left">Companies</h1>
    <div class="actions pull-right">
        <button type="button" class="btn btn-primary" id="btn-company-create"><i class="oi oi-plus"></i> New company</button>
    </div>
</div>

<div data-table-with-filters>
    <div class="dt-filters">
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="name-filter">Company Name</label>
                    <input id="name-filter" class="form-control input-sm" data-column-name="Name" type="text" placeholder="Company Name" data-filter />
                </div>
            </div>
        </div>
    </div>
    <table id="company-list" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th class="actions-column">Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Styles
{
}

@section Scripts
{
    <script webpack-dev-server-src-include="/build/companyList.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            companyList.onReady($('#company-list'));

        });

    </script>
}
